* {
    margin: 0px;
    font-family: tahoma, arial, sans-serif;  
  }
  #leapinfo{
    width:900px;
    margin-top: 50px;
  }
  #leapinfo .left-hand{
    float:left;
    width: 300px;
    display: inline-block;  
    margin-left: 50px;  
  }
  #leapinfo .right-hand{
  }