* {
    margin: 0px;
    font-family: tahoma, arial, sans-serif; 
    font-weight: 300; 
  }

/* For the Developer leapInfo windows*/
  #leapinfo{
    margin-top: 50px;
  }
  #leapinfo h2{
    /*font-weight: 400;*/
  }
  #leapinfo h3{
    color: green;
  }
  #leapinfo .left-hand{
    float:left;
    width: 400px;
    display: inline-block;  
    margin-left: 50px;  
  }
  #leapinfo .right-hand{
    width: 400px;
    max-width: 400px;
    display: inline-block;
  }
  #leapinfo .extrainfo{
    margin-left: 50px;
    margin-top: 50px;
    color: green;
  }

/* For the Hand Visualisation window*/
  canvas{
    position: absolute !important; 
    top: inherit !important;
    margin-left: inherit;
    border: 1px solid black;
  }